body {
	background: rgb(211, 211, 211);
	color: black;
	font-family: "Lucida Console", "Courier New", monospace;
}

div.timelapse {
	position: relative;
	top: 10px;
}

img {
	position: relative;
	top: 20px;
}